.icon-wrapper {
  position: relative;
  .icon {
    position: absolute;
    position: absolute;
    right: 3px;
    top: -77px;
    width: 19px;
    color: #000000;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    &:hover {
      opacity: 0.7;
      transform: scale(1.1);
    }
  }
}
